* {
    margin: 0;
    border: 0;
}

#cabecalho #texto h1 {
    color: red;
    margin: 47px 0 30px 0;
    font-size: 96px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

#cabecalho #linha {
    width: 100%;
    border-bottom: 10px solid red;
    margin: 0 0 30px 0;
}

#imagens {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
}

#imagens img {
    flex-wrap: wrap;
    width: 267px;
    height: 183px;
    margin: 10px;
}